.moviereview-list table {
   width: 100%;
}
.moviereview-list th {
  /*width: 40%;*/
  padding: 0.5em 0em 0.5em 1em;
}
.moviereview-list tr td {
  padding: 1em 0em 1em 1em;
}
.moviereview-list tr.dark, .moviereview-list tr.dark td  {
  background-color: #f6f6f6;
}
.moviereview-list tr.light, .moviereview-list tr.light td {
  background-color: #ffffff;
}
.moviereview .label1 { 
  font-weight: bold; 
  font-size: larger; 
  padding-top: 5px; 
}
.moviereview .label2 { 
  font-weight: bold;
  font-size: small; 
  float: left; 
  padding-right: 5px; 
  line-height: 150%;
}
.moviereview .label3 { 
  font-weight: bold; 
  font-size: smaller; 
  float: left; 
  padding-right: 5px; 
}
.moviereview .label4 { 
  font-weight: bold; 
  font-size: small; 
  float: left; 
  padding-right: 5px; 
}
.moviereview .content1 { 
  font-weight: normal; 
  font-size: larger; 
}
.moviereview .content2 { 
  font-weight: normal; 
  font-size: small; 
  line-height: 150%;
}
.moviereview .content3 { 
  font-weight: normal; 
  font-size: smaller; 
}
.moviereview .cover {
  padding: 0.5em 1em 0em 0em;
}
#moviereview-form input, #moviereview-form textarea {
  /*width: 40em;*/
}
#moviereview-form .form-checkbox {
  width: auto;
}
#mr_links input {
  /*width: 18em;*/
  margin: 0em 1em 0em 0em;
}
/* Note: you can remove this line below if you want. 
   This classes are defined to prevent textboxes larger than the screen */
#edit-title, #edit-nodewords, .attachments fieldset{
  /*width: 40em;*/
}